<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Pdf" version="17.11" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="Pdfbox" version="1.1.1" targetFramework="net452" />
  <package id="PDFNet" version="6.7.1.63077" targetFramework="net452" />
  <package id="Spire.PDF" version="3.9.511" targetFramework="net452" />
</packages>